@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <footer>
        <div class="product-home-footer text-body inner-box ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <div class="pe-lg-5">
                            <a href="index.html" class="navbar-brand m-0">
                                <span class="logo-normal">
                                    <img src="~/User/assets/images/logo/logo2.png" alt="logo" class="img-fluid" loading="lazy">
                                </span>
                            </a>
                            <p class="mt-3 mb-0">
                                It is a long established fact that a reader will be distracted by the
                                readable.
                            </p>
                            <h4 class="iq-heading-title my-4"><a href="tel:+4805550103">+ (480) 555-0103</a></h4>
                            <div class="d-flex align-items-center">
                                <span class="text-capitalize">Email us :</span>
                                <a href="mailto:kivicare@example.com" class="text-secondary">kivicare@example.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6  mb-5 mb-lg-0">
                        <h5 class="mb-4">Departments</h5>
                        <ul class="m-0 p-0 list-unstyled footer-menu-link">
                            <li class="mb-3">
                                <a href="oncologist.html"><i class="fas fa-angle-right me-2"></i>Oncologist</a>
                            </li>
                            <li class="mb-3">
                                <a href="neurologist.html"><i class="fas fa-angle-right me-2"></i>Neurologist</a>
                            </li>
                            <li class="mb-3">
                                <a href="ent-specialist.html">
                                    <i class="fas fa-angle-right me-2"></i>ENT
                                    Specialist
                                </a>
                            </li>
                            <li class="mb-3">
                                <a href="audiologist.html"><i class="fas fa-angle-right me-2"></i>Audiologist</a>
                            </li>
                            <li><a href="psychiatrists.html"><i class="fas fa-angle-right me-2"></i>Psychiatrists</a></li>
                        </ul>

                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="pe-lg-5">
                            <h5 class="mb-4">Popular Products</h5>
                            <div class="product-list-widget">
                                <ul class="list-inline m-0 p-0">
                                    <li class="d-flex align-items-center gap-3 border-0 mb-4">
                                        <div class="img-holder">
                                            <img src="~/User/assets/images/shop/product-9.html" alt="product" class="img-fluid ">
                                        </div>
                                        <div class="post-blog">
                                            <a class="new-link" href="product-standard.html">
                                                <h6 class="post-title fw-500 mb-0 text-capitalize">Asthma Inhaler</h6>
                                            </a>
                                            <div class="ratting">
                                                <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20"
                                                     viewBox="0 0 24 24" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z"
                                                          fill="#FFD329" />
                                                </svg>
                                                <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20"
                                                     viewBox="0 0 24 24" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z"
                                                          fill="#FFD329" />
                                                </svg>
                                                <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20"
                                                     viewBox="0 0 24 24" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z"
                                                          fill="#FFD329" />
                                                </svg>
                                                <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20"
                                                     viewBox="0 0 24 24" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z"
                                                          fill="#FFD329" />
                                                </svg>
                                                <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20"
                                                     viewBox="0 0 24 24" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z"
                                                          fill="#FFD329" />
                                                </svg>
                                            </div> <span class="fw-bolder price text-body">$45.00</span>
                                        </div>
                                    </li>
                                    <li class="d-flex align-items-center gap-3 border-0 mb-4">
                                        <div class="img-holder">
                                            <img src="~/User/assets/images/shop/product-12.html" alt="product" class="img-fluid ">
                                        </div>
                                        <div class="post-blog">
                                            <a class="new-link" href="product-standard.html">
                                                <h6 class="post-title fw-500 mb-0 text-capitalize">Dental equipment</h6>
                                            </a>
                                            <div class="ratting">
                                                <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20"
                                                     viewBox="0 0 24 24" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z"
                                                          fill="#FFD329" />
                                                </svg>
                                                <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20"
                                                     viewBox="0 0 24 24" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z"
                                                          fill="#FFD329" />
                                                </svg>
                                                <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20"
                                                     viewBox="0 0 24 24" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z"
                                                          fill="#FFD329" />
                                                </svg>
                                                <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20"
                                                     viewBox="0 0 24 24" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z"
                                                          fill="#FFD329" />
                                                </svg>
                                                <svg class="icon-20" xmlns="http://www.w3.org/2000/svg" width="20"
                                                     viewBox="0 0 24 24" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M13.1043 4.17701L14.9317 7.82776C15.1108 8.18616 15.4565 8.43467 15.8573 8.49218L19.9453 9.08062C20.9554 9.22644 21.3573 10.4505 20.6263 11.1519L17.6702 13.9924C17.3797 14.2718 17.2474 14.6733 17.3162 15.0676L18.0138 19.0778C18.1856 20.0698 17.1298 20.8267 16.227 20.3574L12.5732 18.4627C12.215 18.2768 11.786 18.2768 11.4268 18.4627L7.773 20.3574C6.87023 20.8267 5.81439 20.0698 5.98724 19.0778L6.68385 15.0676C6.75257 14.6733 6.62033 14.2718 6.32982 13.9924L3.37368 11.1519C2.64272 10.4505 3.04464 9.22644 4.05466 9.08062L8.14265 8.49218C8.54354 8.43467 8.89028 8.18616 9.06937 7.82776L10.8957 4.17701C11.3477 3.27433 12.6523 3.27433 13.1043 4.17701Z"
                                                          fill="#FFD329" />
                                                </svg>
                                            </div> <span class="fw-bolder price text-body">$22.00</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-6 mt-md-0 mt-5">
                        <h5 class="mb-4">Opening Hours</h5>
                        <ul class="list-inline m-0 p-0">
                            <li class="mb-3 pb-2 border-bottom d-flex align-items-center justify-content-between">
                                <span>Weekdays</span>
                                <span class="text-secondary fw-500">09:00 - 20:00</span>
                            </li>
                            <li class="mb-3 pb-2 border-bottom d-flex align-items-center justify-content-between">
                                <span>Saturday</span>
                                <span class="text-secondary fw-500">08:00 - 12:00</span>
                            </li>
                            <li class="d-flex align-items-center justify-content-between">
                                <span>Sunday</span>
                                <span class="text-secondary fw-500">Close</span>
                            </li>
                        </ul>
                        <ul class="list-inline mt-5 mb-0 p-0 d-flex align-items-center gap-5">
                            <li>
                                <img src="~/User/assets/images/product-home/visa-logo.png" class="img-fluid" alt="img">
                            </li>
                            <li>
                                <img src="~/User/assets/images/product-home/Mastercard.png" class="img-fluid" alt="img">
                            </li>
                            <li>
                                <img src="~/User/assets/images/product-home/PayPal.png" class="img-fluid" alt="img">
                            </li>
                            <li>
                                <img src="~/User/assets/images/product-home/Mastercard.png" class="img-fluid" alt="img">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom border-top text-body">
            <div class="container py-4">
                <div class="row">
                    <div class="col-lg-12 text-center ">
                        <p class="mb-0">
                            ©
                            <script>document.write(new Date().getFullYear())</script> KiviCare All Rights Reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
}
