
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!-- Library / Plugin Css Build -->
<link rel="stylesheet" href="~/User/assets/css/core/libs.min.css" />

<!-- flaticon css -->
<link rel="stylesheet" href="~/User/assets/vendor/flaticon/css/flaticon.css" />

<!-- font-awesome css -->
<link rel="stylesheet" href="~/User/assets/vendor/font-awesome/css/all.min.css" />


<!-- Sweetlaert2 css -->
<link rel="stylesheet" href="~/User/assets/vendor/sweetalert2/dist/sweetalert2.min.css" />

<!-- NoUI Slider css -->
<link rel="stylesheet" href="~/User/assets/vendor/noUiSilder/style/nouislider.min.css">


<!-- Kivicare Design System Css -->
<link rel="stylesheet" href="~/User/assets/css/kivicare.min5438.css?v=1.2.0" />

<!-- Custom Css -->
<link rel="stylesheet" href="~/User/assets/css/custom.min5438.css?v=1.2.0" />

<!-- Rtl Css -->
<link rel="stylesheet" href="~/User/assets/css/rtl.min5438.css?v=1.2.0" />

<!-- Customizer Css -->
<link rel="stylesheet" href="~/User/assets/css/customizer.min5438.css?v=1.2.0" />

<!-- Google Font -->
<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&amp;family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500&amp;display=swap"
      rel="stylesheet">

<div class="bg-primary-subtle section-padding">
    <div class="container position-relative">
        <div class="row">
            <div class="col-md-6 pe-md-5">
                <div class="scrolling-text position-absolute">
                    <div class="iq-title text-uppercase">About Us</div>
                </div>
                <div class="iq-title-box">
                    <span class="iq-subtitle text-uppercase">About PharmaEase</span>
                    <h2 class="iq-title iq-heading-title">
                        <span class="right-text text-capitalize fw-500">Excellence</span>
                        <span class="left-text text-capitalize fw-light">in Healthcare</span>
                    </h2>
                    <p class="iq-title-desc text-body mt-3 mb-0">
                        At PharmaEase Medical Clinic, we are committed to delivering the highest quality healthcare services. Our team of experts ensures personalized care, prioritizing your health and well-being above all.
                    </p>
                </div>
                <div class="block-progressbar">
                    <ul class="list-inline m-0">
                        <li class="mb-4">
                            <div class="wrapper-progress">
                                <div class="percentage-progress d-flex justify-content-between">
                                    <h6 class="mb-2 text-body">Successful Treatments</h6>
                                    <div><span>85%</span></div>
                                </div>
                            </div>
                            <div class="progress" style="height:10px">
                                <div class="progress-bar bg-primary" role="progressbar"
                                     style="width: 85%; height:10px" aria-valuenow="85" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li class="mb-4">
                            <div class="wrapper-progress">
                                <div class="percentage-progress d-flex justify-content-between">
                                    <h6 class="mb-2 text-body">Patient Satisfaction</h6>
                                    <div><span>95%</span></div>
                                </div>
                            </div>
                            <div class="progress" style="height:10px">
                                <div class="progress-bar bg-primary" role="progressbar"
                                     style="width: 95%; height:10px" aria-valuenow="95" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </li>
                        <li>
                            <div class="wrapper-progress">
                                <div class="percentage-progress d-flex justify-content-between">
                                    <h6 class="mb-2 text-body">Hygiene Standards</h6>
                                    <div><span>100%</span></div>
                                </div>
                            </div>
                            <div class="progress" style="height:10px">
                                <div class="progress-bar bg-primary" role="progressbar"
                                     style="width: 100%; height:10px" aria-valuenow="100" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex gap-4 mt-5 flex-column flex-lg-row mb-5 mb-md-0">
                    <div>
                        <h4 class="fw-normal">Muhammad Zaid</h4>
                        <p class="text-primary text-uppercase fw-bold">CEO &amp; Founder</p>
                    </div>
                    <div class="sign-image">
                        <img src="~/User/assets/images/general/signature.png" alt="signature" class="img-fluid mb-5">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="~/User/assets/images/pages/about-banner.html" alt="PharmaEase Banner" class="img-fluid">
            </div>
        </div>
    </div>
</div>


<!-- Library Bundle Script -->
<script src="~/User/assets/js/core/libs.min.js"></script>
<!-- Plugin Scripts -->
<!-- Slider-tab Script -->
<script src="~/User/assets/js/plugins/slider-tabs.js"></script>

<!-- fslightbox Script -->
<script src="~/User/assets/js/plugins/fslightbox.js" defer></script>

<!-- Sweet-alert Script -->
<script src="~/User/assets/vendor/sweetalert2/dist/sweetalert2.min.js" async></script>
<script src="~/User/assets/js/plugins/sweet-alert.js" defer></script>


<!-- Select2 Script -->
<script src="~/User/assets/js/plugins/select2.js" defer></script>

<!-- NoUI Slider Script -->
<script src="~/User/assets/vendor/noUiSilder/script/nouislider.min.js"></script>

<!-- Lodash Utility -->
<script src="~/User/assets/vendor/lodash/lodash.min.js"></script>
<!-- Utilities Functions -->
<script src="~/User/assets/js/iqonic-script/utility.min.js"></script>
<!-- Settings Script -->
<script src="~/User/assets/js/iqonic-script/setting.min.js"></script>
<!-- Settings Init Script -->
<script src="~/User/assets/js/iqonic-script/setting-init.js"></script>
<!-- External Library Bundle Script -->
<script src="~/User/assets/js/core/external.min.js"></script>
<!-- Kivicare Script -->
<script src="~/User/assets/js/kivicare5438.js?v=1.2.0" defer></script>
<script src="~/User/assets/js/kivicare-advance5438.js?v=1.2.0" defer></script>
<!-- Kivicare Pages Script -->
<script src="~/User/assets/js/slider.js" defer></script>
<script src="~/User/assets/js/scroll-text.js" defer></script>