@model DotNet_Project.Models.Cart

@{
    ViewData["Title"] = "cartEdit";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h1>cartEdit</h1>

<h4>Cart</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="cartEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Userid" class="control-label"></label>
                <select asp-for="Userid" class="form-control" asp-items="ViewBag.Userid"></select>
                <span asp-validation-for="Userid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proid" class="control-label"></label>
                <select asp-for="Proid" class="form-control" asp-items="ViewBag.Proid"></select>
                <span asp-validation-for="Proid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Proprice" class="control-label"></label>
                <input asp-for="Proprice" class="form-control" />
                <span asp-validation-for="Proprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qty" class="control-label"></label>
                <input asp-for="Qty" class="form-control" />
                <span asp-validation-for="Qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
