@model DotNet_Project.Models.Contact

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="section-padding">
    <div class="container text-center">
        <div class="iq-title-box">
            <span class="iq-subtitle text-uppercase">JUST A CALL AWAY</span>
            <h2 class="iq-title iq-heading-title">
                <span class="right-text text-capitalize fw-500">We'd love to</span>
                <span class="left-text text-capitalize fw-light">hear from you!</span>
            </h2>
            <p class="iq-title-desc text-body mt-3 mb-0">
                We are here and always ready to help you. Let us know how we serve
                you and we’ll get back within no time.
            </p>
        </div>      <div class="row">
            <div class="col-lg-2 d-lg-block d-none"></div>
            <div class="col-lg-8">
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-@ViewBag.AlertType" role="alert">
                        @ViewBag.Message
                    </div>
                }
                <form asp-action="Contact">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="custom-form-field">
                                <input type="text" asp-for="FName" name="fname" placeholder="Your Name" class="form-control mb-5"
                                       required>
                                <span asp-validation-for="FName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="custom-form-field">
                                <input type="text" asp-for="LName" name="lname" placeholder="Last Name" class="form-control mb-5"
                                       required>
                                <span asp-validation-for="LName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="custom-form-field">
                                <input type="tel" asp-for="Number" name="phone" minlength="11" maxlength="140" placeholder="Phone Number"
                                       class="form-control mb-5" required>
                                <span asp-validation-for="Number" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="custom-form-field">
                                <input type="email" asp-for="Email" name="email" placeholder="Your Email" class="form-control mb-5"
                                       required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="custom-form-field">
                                <textarea name="message" asp-for="Message" placeholder="Your Message" class="form-control mb-5"
                                          required></textarea>
                                <span asp-validation-for="Message" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12 text-start">
                            <div class="iq-btn-container">
                                <button class="iq-button text-capitalize border-0" type="submit">
                                    <span class="iq-btn-text-holder position-relative">send message</span>
                                    <span class="iq-btn-icon-holder">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 8 8" fill="none">
                                            <path d="M7.32046 4.70834H4.74952V7.25698C4.74952 7.66734 4.41395 8 4 8C3.58605 8 3.25048 7.66734 3.25048 7.25698V4.70834H0.679545C0.293423 4.6687 0 4.34614 0 3.96132C0 3.5765 0.293423 3.25394 0.679545 3.21431H3.24242V0.673653C3.28241 0.290878 3.60778 0 3.99597 0C4.38416 0 4.70954 0.290878 4.74952 0.673653V3.21431H7.32046C7.70658 3.25394 8 3.5765 8 3.96132C8 4.34614 7.70658 4.6687 7.32046 4.70834Z" fill="currentColor"></path>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-2 d-lg-block d-none"></div>
        </div>
    </div>
</div>

<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <i class="fas fa-map-marker-alt text-secondary font-size-60 mb-5"></i>
                <div class="iq-title-box mb-0">
                    <span class="iq-subtitle text-uppercase">LOCATION</span>
                    <h5 class="iq-title iq-heading-title mt-3">
                        <span class="right-text text-capitalize">Gulshan e Jamal, Karachi</span>
                    </h5>
                </div>
            </div>
            <div class="col-md-4 mt-md-0 mt-5">
                <i class="far fa-envelope text-secondary font-size-60 mb-5"></i>
                <div class="iq-title-box mb-0">
                    <span class="iq-subtitle text-uppercase">EMAIL</span>
                    <h5 class="iq-title iq-heading-title mt-3">
                        <span class="right-text text-capitalize">pharmaease03@gmail.com</span>
                    </h5>
                </div>
            </div>
            <div class="col-md-4 mt-md-0 mt-5">
                <i class="fas fa-phone text-secondary font-size-60 mb-5"></i>
                <div class="iq-title-box mb-0">
                    <span class="iq-subtitle text-uppercase">CALL ANYTIME</span>
                    <h5 class="iq-title iq-heading-title mt-3">
                        <span class="right-text text-capitalize">+92 318 5897526</span>
                    </h5>
                </div>
            </div>
        </div>

        <!-- Map Section -->
        <div class="row mt-5">
            <div class="col-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7238.070498605013!2d67.10862538758431!3d24.896779243442218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3eb3393ccb6a5c2f%3A0x43c1cb54d51ae58a!2sGulshan%20e%20Jamal%2C%20Karachi%2C%20Karachi%20City%2C%20Sindh%2C%20Pakistan!5e0!3m2!1sen!2s!4v1731248306867!5m2!1sen!2s"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>

